.seccion-tema{
    margin: 20px;
    color: black;
}
.seccion-temaImagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: black;
}
.seccion-temaImagenesZapas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: white;
}
.titulo{
    font-weight: bold;
    color: black;
    font-size: 20px;
}