.product{
    color: black;
    text-align: center;
    padding-bottom: 15px;
    
    
}

.product img {
  width: 85%;
}
.product h4{
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Karla', sans-serif;
}

.product:hover {
    box-shadow: 0 0 7px #111111, 0 0 40px;
    transform: scale(1.1);
  }

  .precio {
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
    font-weight: bold
  }

  button {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;
  }

  


